.product-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-width: 250px;  /* Remplacer width par min-width pour éviter que les cartes se cassent */
    margin: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.02); /* Zoom léger au survol */
  }

.product-image {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 135px;
    width: 135px;
}

.product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
}

.product-price {
    font-size: 1.1em;
    color: #888;
}

.product-rating {
    display: flex;  /* Assurez-vous que les éléments dans la section rating soient bien alignés */
    align-items: left;
    justify-content: left;
    margin-top: -5px;
    float: left;
    
}

.star-icon {
    color: #00E0C6;
    font-size: 1.2em;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.rating-value {
    font-size: 1em;
    color: #00E0C6;
}

.product-actions {
    display: flex;
    /* align-items: right; */
    justify-content: space-between;  /* Adapter pour un meilleur alignement */
    gap: 15px;
    margin-top: -15px;
    float: right;
    
}

.wishlist-button {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #009393;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
}

.cart-section {
    display: flex;
    align-items: center;
}

.cart-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
    border: 1px solid #00d1b2;
    border-radius: 5px;
    padding: 5px;
    background: #009393;
    color: #fff;
}

.quantity-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    padding: 0 10px;
    cursor: pointer;
}

.quantity {
    font-size: 1em;
    padding: 0 10px;
}
