<div class="product-card" (click)="redirectToAffiliateLink()">
    <img [src]="product.image" [alt]="product.name" class="product-image" />
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-price">Prix: €{{ product.price }}</p>
    <div class="product-rating">
      <img src="assets/images/star_icon.png" class="star-icon" alt="star-icon" />
      <span class="rating-value">{{ product.rating }}</span>
    </div>
    <div class="product-actions">
      <!-- Wishlist Button -->
      <!-- <button class="wishlist-button" (click)="toggleHeart()">
        <img 
          [src]="isHeartFilled ? 'assets/images/heart_icon_filled.png' : 'assets/images/heart_icon_empty.png'" 
          class="heart-icon" 
          alt="heart-icon" 
        />
      </button> -->
  
      <!-- Cart Section -->
      <div class="cart-section">
        <ng-container *ngIf="quantity === 0; else quantityControl">
          <!-- <button class="cart-button" (click)="increaseQuantity()">
            <img src="assets/images/cart_icon.png" class="cart-icon" alt="cart-icon" />
          </button> -->
        </ng-container>
        <ng-template #quantityControl>
          <div class="quantity-control">
            <!-- <button class="quantity-button" (click)="decreaseQuantity()">−</button>
            <span class="quantity">{{ quantity }}</span>
            <button class="quantity-button" (click)="increaseQuantity()">+</button> -->
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  