<!-- Existing content -->
<header>
  <app-headers></app-headers>
</header>
  
  <!-- <app-categories-menu></app-categories-menu> -->
  <!-- <app-categories-container></app-categories-container> -->



 <body>
  <app-category-display-grid
  [category]="category"
  (addToCart)="onAddToCart($event)"
  (removeFromCart)="onRemoveFromCart($event)"
  (toggleFavorite)="onToggleFavorite($event)"
></app-category-display-grid>

  <!-- <app-product-card></app-product-card> -->
 </body>


<footer>
  <app-footer></app-footer>
</footer>
