<div class="menu-overlay" *ngIf="menuOpen" (click)="closeMenu()"></div>

<div class="side-menu" [class.open]="menuOpen">
  <button class="close-menu-button" (click)="closeMenu()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>

  <div class="menu-logo">
    <img src="assets/images/logo_mika.png" alt="Logo Mika" class="menu-logo-img" />
  </div>

  <ul>
    <li *ngFor="let item of menuItems" (click)="closeMenu()">
      <a [routerLink]="item.route">
        <img [src]="item.icon" [alt]="item.label" class="menu-icon" />
        {{ item.label }}
      </a>
    </li>
  </ul>
</div>
